.products_wrapper {
  padding: 30px;
}

.products_title {
  font-size: 18px;
  padding-left: 10px;
  font-weight: 600;
  margin-bottom: 16px;
}

.products_list {
  padding: 30px 0 30px;
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid rgb(233, 230, 230);
}